.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1250px;

  mat-form-field {
    width: 100%;
  }
}

.action-btns {
  display: flex;
  align-items: center;
}
